<div>
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark primary-color">


    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive='active'>
          <a class="nav-link" routerLink="formation">Formation
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive='active'>
          <a class="nav-link" routerLink="session-formation">Session de formation</a>
        </li>
        <li class="nav-item" routerLinkActive='active'>
          <a class="nav-link" routerLink="exemple-projet">Exemple de projet</a>
        </li>
      </ul>
      <!-- Links -->

      <div style="color: white;">
        <a class="nav-link"><span class="material-icons" (click)='deconnexion()'>logout</span></a>
      </div>
    </div>
    <!-- Collapsible content -->

  </nav>
  <!--/.Navbar-->
</div>


<div class="container mt-4">
  <h2 class="text-center titre_grand">DEV-4-2021</h2>
  <br><br>
</div>




<router-outlet></router-outlet>