<div class="container">
    <div class="row">
        <div class="col-sm-3 text-secondary">Nom de la formation</div>
        <div class="col-sm-3 text-secondary">Date de début</div>
        <div class="col-sm-3 text-secondary">Date de fin</div>
        <div class="col-sm-3 text-secondary text-center">Nombre de places</div>
    </div>
    <br>
    <div *ngFor='let sf of sessionsF'>
        <div class="card p-3">
            <div class="row">
                <div class="col-sm-3">
                    {{sf.formation.nom}}
                </div>
                <div class="col-sm-3">
                    {{sf.dateDebut | date : 'dd/MM/yyyy'}}
                </div>
                <div class="col-sm-3">
                    {{sf.dateFin | date : 'dd/MM/yyyy'}}
                </div>
                <div class="col-sm-3 text-center">
                    {{sf.nbPlace}}
                </div>
            </div>
        </div>
        <br>
    </div>
</div>